
html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}

body{
    background-color: #def7ff;
}

* {
    margin:     0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
     min-height: 90px;
     background: #212020;
     padding: 15px 0;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 998;
}


 header .container-fluid {
     max-width: 1850px;
}
 .right_header_info {
     width: 100%;
     float: left;
     padding: 20px 0 0;
}
 .right_header_info ul {
     list-style: none;
     padding: 0;
     margin: 0;
     float: right;
}
 .right_header_info ul li {
     display: inline;
     font-size: 16px;
     margin-left: 45px;
     color: #eaeaea;
     font-weight: 400;
     float: left;
}
 .right_header_info ul li a {
     color: #eaeaea;
     font-weight: 300;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 35px;
     text-align: center;
     line-height: 35px;
     position: relative;
     top: -3px;
     padding: 0 15px;
     margin: 0 2px;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 40px;
     text-align: center;
     line-height: 38px;
     position: relative;
     top: -7px;
     padding: 0 15px;
     margin: 0 2px;
     border: solid #eaeaea 1px;
}
 .button_user a:hover, .button_user a:focus, .button_user a.active {
     background: #bceeff;
     color: #fff;
     border-color: #bceeff;
     color: #222;
}
 #sidebarCollapse {
     background: transparent;
}
 .slider_section {
     background: #212020;
     min-height: 100vh;
     padding-top: 93px;
}
 #main_slider {
     padding: 90px 0 30px;
}
 .slider_section .container {
     width: 100%;
     max-width: 1920px;
}
 .vert .carousel-item-next.carousel-item-left, .vert .carousel-item-prev.carousel-item-right {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
}
 .vert .carousel-item-next, .vert .active.carousel-item-right {
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100% 0);
}
 .vert .carousel-item-prev, .vert .active.carousel-item-left {
     -webkit-transform: translate3d(0,-100%, 0);
     transform: translate3d(0,-100%, 0);
}
 .slider_cont {
     padding-left: 190px;
     float: left;
     margin: 100px 0 0;
}
 .slider_cont h3 {
     font-size: 70px;
     font-weight: 600;
     color: #fff;
     line-height: 70px;
     letter-spacing: -2px;
}
 .slider_cont p {
     font-size: 18px;
     color: #999;
     line-height: normal;
     font-weight: 300;
     margin-top: 0px;
     margin-bottom: 10px;
     padding-right: 30px;
}
 #main_slider .carousel-control-prev, #main_slider .carousel-control-next {
     width: 65px;
     height: 65px;
     background: #e1e0e0;
     opacity: 1;
     font-size: 30px;
     color: #212020;
     border-radius: 100%;
}
 #main_slider a.carousel-control-prev {
     position: absolute;
     left: 50px;
     top: 42%;
}
 #main_slider a.carousel-control-next {
     position: absolute;
     left: 50px;
     top: 52%;
}
body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.seccion-perfil-medicamento .perfil-medicamento-body,
.seccion-perfil-medicamento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-medicamento .perfil-medicamento-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#0CB7F2, #def7ff);
    margin-bottom: 1.25rem;
}

.seccion-perfil-medicamento .perfil-medicamento-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background:#318CE7;
    border-radius: 30px 30px 100px 100px;
}

.seccion-perfil-medicamento .perfil-medicamento-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-medicamento .perfil-medicamento-portada .boton-portada i {
    margin-right: 1rem;
}
/*
.seccion-perfil-medicamento .perfil-medicamento-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #def7ff;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-medicamento .perfil-medicamento-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-medicamento .perfil-medicamento-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #def7ff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}*/

.seccion-perfil-medicamento .perfil-medicamento-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-medicamento .perfil-medicamento-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-medicamento .perfil-medicamento-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-medicamento .perfil-medicamento-footer,
.seccion-perfil-medicamento .perfil-medicamento-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-medicamento .perfil-medicamento-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-medicamento .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-medicamento .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-medicamento .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-medicamento .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-medicamento .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-medicamento .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-medicamento .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-medicamento .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-medicamento .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-medicamento .lista-datos {
        width: 100%;
    }

    .seccion-perfil-medicamento .perfil-medicamento-portada,
    .seccion-perfil-medicamento .perfil-medicamento-body {
        width: 95%;
    }

    .seccion-perfil-medicamento .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-medicamento .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

